{% extends 'layout/base.html.twig' %}

{% block title %} Contact {% endblock %}

{% block body %}
  
    <div class="gtco-container"> 
        <div class="row">
            <div class="col-md-6">
                {{ form_start(form) }} {# le debut de la balise <form> #}
                
                <div class="rol form-group">  
                    <div class="col-md-12"> 
                        {{ form_row(form.firstName, {'attr':{'class':'form-control'}}) }}
                </div>
                
                <div class="rol form-group">  
                    <div class="col-md-12">  
                        {{ form_row(form.lastName, {'attr':{'class':'form-control'}}) }}
                    </div>
                </div>

                <div class="rol form-group">  
                    <div class="col-md-12">  
                        {{ form_row(form.email, {'attr':{'class':'form-control'}}) }} 
                    </div>
                </div>

                <div class="rol form-group">  
                    <div class="col-md-12"> 
                        <input type="submit" class="btn btn-primary">
                    </div>
                </div>

            </div>
            {{ form_end(form) }} {# la fin de la balise </form> #}
                
        </div> 
                    
            <div class="col-md-5 col-md-push-1">
                <div class="gtco-contact-info">
                    <h3>Our Address</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <ul >
                        <li class="address">{{contact_address}}</li>
                        <li class="phone"><a href="">{{contact_phone}}</a></li>
                        <li class="email"><a href="#">{{contact_email}}</a></li>
                        <li class="url"><a href="#">www.yoursite.com</a></li>
                    </ul>
                </div>
            </div>
        </div> 

<!-- END Contact -->  

{% endblock %}
