{{ form_start(form) }}
    {{ form_row(form.title,{'attr':{'class':'form form-control'}}) }}
    {{ form_row(form.title,{'attr':{'class':'form form-control'}}) }}
    {{ form_row(form.imageFile,{'attr':{'class':'form form-control'}}) }} <br>
    
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
